// Body
$body-bg: #011b31;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white :#fff;

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

